#include <windows.h>

1 ICON "../../web/favicon-v2.ico"

1 VERSIONINFO
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "BKNetwork\0"
      VALUE "ProductName", "BKNetwork\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END

1 RT_MANIFEST "bknetwork.manifest"
